<div class="container">


	<div class="row">
		<div class="col-md-12 "><hr></div>
		<div class="col-md-6 col-xs-6">
			<a href="#" #elem (click)="resetDate()"><h1>{{title}}</h1></a>
			<small>{{sub_title}}</small>
		</div>
		<div class="col-md-6 col-xs-6 text-right">

			<input type="date" class="form-control form-control-date" max="1979-12-31" min="1899-12-31" (change)="changeDate($event.target.value)" value="{{ curr_date }}">

		</div>
		<div class="col-md-12"><hr></div>
	</div>

	<div class="row" *ngIf="nytService.adminMode">
		<div class="col-md-6">

			<div class="card">
				<div class="card-block bg-warning" >
					<h4 class="card-title">Admin mode!!!</h4>
					<p class="card-text">
						<small><code>To disable edit environment.ts</code></small>
					</p>
					<p class="card-text">

						Local Sync Caching NYT API<br>

					</p>
					<form>
						<div class="form-group">
							<label for="start-month">Start:</label>
							<input class="form-control" type="number" [(ngModel)]="import_start_month" min="1" max="12" name="start-month" placeholder="month">
							<input class="form-control" type="number" [(ngModel)]="import_start_year" min="1851" max="2017" name="start-year" placeholder="year">
						</div>
						<div class="form-group">
							<label for="end-month">End:</label>
							<input class="form-control" type="number" [(ngModel)]="import_end_month" min="1" max="12" name="end-month" placeholder="month">
							<input class="form-control" type="number" [(ngModel)]="import_end_year" min="1851" max="2017" name="end-year" placeholder="year">
						</div>
						<button type="submit" class="btn btn-primary" (click)="cacheData()" >Start caching!</button>
					</form>
				</div>
			</div>

		</div>

	</div>


	<div class="row" *ngIf="!isDateSelected">

		<div class="col-md-12">
				<h6 class="text-center text-muted quote"><i>"Fresh news everyday!"</i></h6>
				<div class="card-deck">

					<div class="card" *ngFor="let year of years">
						<div class="card-block">
						  <br>
						  <a href="#" (click)="changeDate(nytService.getYearSearchDate(year), true)"><h4 class="card-title text-center">{{ nytService.getYearSearchDate(year) | date: 'fullDate' }}</h4></a>
						  <br>
						  <p class="card-text text-center"><small class="text-muted">Updated {{ nytService.getLastUpdate(year) }} years ago</small></p>
						</div>
					</div>

				</div>


		</div>
	</div>

	<div class="row" *ngIf="isDateSelected">

		<div class="col-md-12 div-articles">

			<div class="overlay text-center" *ngIf="this.nytService.refreshingData">
    			<br>Loading...
			</div>

			<div class="card-columns">

			  <div class="card" *ngFor="let nyt_article of nyt_articles$ | async">
			    <div class="card-block">
			      <p class="card-text"><small class="text-muted">{{ nyt_article.type_of_material }}</small></p>
			      <a href="{{ nyt_article.web_url }}" target="_blank"><h4 class="card-title">{{ nyt_article.headline }}</h4></a>
			      <p class="card-text">{{ nyt_article.lead_paragraph }}</p>
			      <p class="card-text"><small class="text-muted">{{ nyt_article.pub_date | date:'medium' }}</small></p>
			      
			    </div>
			  </div>

			</div>

			<div class="text-center" *ngIf="!this.nytService.totalArticles"><br><h4>No news good news!</h4>Try another date!</div>

			

		</div>

	</div>


</div>


<footer class="footer">
	
	<div class="container">

		<div class="row">

			<div class="col-md-12"><hr></div>
			<div class="col-md-6">
				<h5>{{ title }}</h5>
				<small class="text-muted">This is an opensource project <a href="https://github.com/zhoorta/daily-old-news">(github)</a>, not affiliated with the nyt.</small>
			</div>
			<div class="col-md-6 text-right">
				<a href="https://github.com/zhoorta/daily-old-news"><img src="/assets/github.png" alt="github project"></a>&nbsp;&nbsp;&nbsp;
				<a href="http://developer.nytimes.com" target="_blank"><img src="http://static.nytimes.com/packages/images/developer/logos/poweredby_nytimes_150c.png" alt="data provided by the new york times"></a>
			</div>
			<div class="col-md-12"><hr></div>

		</div>

	</div>

</footer>