html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Old Standard TT', serif;
  margin-bottom: 60px;
}

.container {
  max-width: 1280px; }

a {
	color: inherit;
}

a:focus, a:hover {
	color: #2F4F4F;
	text-decoration: none;
}

.btn-primary {
  background-color: #2F4F4F;
  border-color: #2F4F4F;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: #2F4F4F;
  border-color: #2F4F4F;
  text-decoration: none;
}

.btn {
  font-family: 'Old Standard TT', serif;
}


input {
  font-family: 'Old Standard TT', serif;
}

.form-control-date {
  display: inline;
  width: auto; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.quote {
  /*text-transform: uppercase;*/
  margin-top: 20px;
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  background: rgb(0, 0, 0);
  /* fallback color*/
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 10;
}


